<!DOCTYPE html>
<html>
    <head>
        <title>Chatbot</title>

        <head>
            <link rel="stylesheet" href="https://pyscript.net/releases/2025.8.1/core.css">

            <script type="module" src="https://pyscript.net/releases/2025.8.1/core.js"></script>

            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        </head>
    </head>

    <body>
        <div class="chat-container">
            <h1>Gemini Chatbot</h1>
            <div id="chat-box"></div>
            <input id="user-input" type="text" placeholder="Type your message..." />
            <button id="send-btn" py-click="send_message">Send</button>
        </div>

        <py-script>
            import js
            import json
            from pyscript import fetch

            js.document.getElementById("user-input").addEventListener("keypress", js.Function.new("e", """
            if (e.key === 'Enter') {
                document.getElementById('send-btn').click();
            }"""))

            async def send_message(*args):
                input_el = js.document.getElementById("user-input")
                msg = input_el.value
                if not msg:
                    return
                chat_box = js.document.getElementById("chat-box")
                chat_box.innerHTML += f'<div class="user">You: {msg}</div>'
                input_el.value = ""

                if msg.lower() == "clear chat":
                    chat_box.innerHTML = ""
                    input_el.value = ""
                    return

                res = await fetch(
                        url="/ask",
                        method="POST",
                        headers={"Content-Type": "application/json"},
                        body=js.JSON.stringify({"message": msg})
                    )
                text = await res.text()

                try:
                    data = json.loads(text)
                    reply = data["response"]
                except Exception as e:
                    reply = f"Sorry something went wrong.: {e}"

                chat_box.innerHTML += f'<div class="bot">ChatBot: {reply}</div>'
                chat_box.scrollTop = chat_box.scrollHeight

        </py-script>

    </body>

</html>